<h1>Create Sub!</h1>

<form action= "<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="title">Sub Name</label>
  <input type="text" name="sub[title]" value="title">

  <br><br>
  <textarea name="sub[description]" rows="8" cols="80">Description</textarea>

  <br>
  <input type="submit" value="Create Sub!">

</form>
