<h1>Create Comment</h1>

<form action="<%= post_comments_url %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="content">Content</label>
  <textarea name="comment[content]" rows="8" cols="80"></textarea>

  <input type="submit" value="Submit Comment!">
</form>
